.collapse {
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;

  .collapse-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: none;
  background: $primary-color;
  color: white;
  cursor: pointer;
  font-size: 24px;
  }

  .collapse-content {
  padding: 20px;
  background: $background-color;
  }

  img {
      width: 18px;
      transition: transform 0.3s ease;
      transform: rotate(0deg);
    }
    .open {
      transform: rotate(-180deg);
  }


  @media (max-width: 768px) {
  .collapse {
  margin-bottom: 20px;
  }
  
  .collapse-header {
    font-size: 13px;
    padding: 15px;
  }
  }
}