.kasa-footer {
  background: $footer-color;

  height: 209px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;

  img {
    width: 122px;
  }

  p {
    color: white;
    font-size: 24px;
  }
}

@media (max-width: 768px) {

  .kasa-footer {
    margin-top: 50px;

    p {
      width: 120px;
      text-align: center;
      font-size: 12px;
    }

  }

}