.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: white;
    height: 80px;
    cursor: pointer;
  }

  button:first-of-type {
    left: 20px;
  }

  button:last-of-type {
    right: 20px;
  }

  p {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}

@media (max-width: 768px) {

  .slideshow {
    height: 255px;

    button {
      height: 24px;
    }
  }

}