@import './variables';
@import './components/card.scss';
@import './components/banner.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './pages/home.scss';
@import './pages/housing.scss';
@import './pages/about.scss';
@import './pages/error.scss';
@import './components/slideshow.scss';
@import './components/collapse.scss';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: Montserrat, sans-serif;
}

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}