@import '../variables';

.about {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

.about-collapse {
  width: 82%;
  margin: auto;
}

@media (max-width: 768px) {

   .about {
    padding: 0 15px 0px 15px;
    margin-bottom: -50px;
  }

  .about-collapse {
    width: 100%;
    padding-top: 15px;
    p {
      padding: 10px 5px;
      font-size: 14px;
    }
    .collapse {
      margin-bottom: 18px;
    }
  }

}