.cards-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 40px;

  padding: 50px;

  border-radius: 25px;

  background: #f6f6f6;
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;

    padding: 0;

    background: transparent;
  }
}