@import '../variables';

main {
  margin : 0 150px;
}

.logement-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px;
}

h1 {
  color: $primary-color;
  font : 550 36px Montserrat, sans-serif;
  line-height: 143%;
  padding : 40px 0 5px 0;
}

p {
  font : 500 18px Montserrat, sans-serif;
  line-height: 143%;
}

.housing-tags {
  display: flex;
  gap: 15px;
}

.tag {
  padding: 5px 20px;
  border-radius: 10px;
  background: $primary-color;
  color: white;
  font : 700 14px Montserrat, bold, sans-serif;
  margin : 30px 0 0 0;
}

.housing-host {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $primary-color;

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  p {
    width: 90px;
    text-align: right;
    color: $primary-color;
    font-size: 18px;
  }
}

.housing-rating {
  display: flex;
  gap: 15px;

  .star {
    width: 25px;
    height: 24px;
    color: #E3E3E3;
  }
  .star.active {
    color: $primary-color;
  }
}

.housing-collapses {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  align-items: stretch;

  .equipment-list li {
  list-style: none;
  font : 500 18px Montserrat, sans-serif;
  padding: 0px 5px;
}
}

.housing-collapses > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.housing-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 30px;
}

.housing-left {
  display: flex;
  flex-direction: column;
  margin-top:-45px
}

.housing-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

 //-------------------------------------------------------------

@media (max-width: 768px) {

  main {
  margin : 0 5px;
  }

  p {
  font : 500 14px Montserrat, sans-serif;
  line-height: 143%;
  }

    .logement-container {
    padding: 0 15px;
  }

  .housing-left h1 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
  }

   .housing-right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 -15px 0;
  }

   .housing-host img {
    width: 32px;
    height: 32px;
  }

  .housing-host p {
    width: 60px;
    font-size: 12px;
  }

 .housing-rating {
  display: flex;
  gap: 8px;

  .star {
    width: 15px;
    height: 14px;
    color: #E3E3E3;
  }
  .star.active {
    color: $primary-color;
  }
}

.tag {
    font-size: 10px;
    padding: 4px 13px;
    border-radius: 5px;
    margin: 10px 0 0 0;
  }

  .housing-tags {
    display: flex;
  flex-wrap: wrap;
  gap: 10px;
  }

   .housing-collapses {
    flex-direction: column;
    gap: 0px;
    margin-bottom: -50px;

    .equipment-list li {
    font-size: 14px;
  }
  }

  .housing-collapses .collapse {
    width: 100%;
  }

  .housing-host {
    justify-content: space-between;
  }

  .slideshow {
    height: 255px;
    img {
    height: 255px;
  }
  }

  .housing-infos {
    display: flex;
    flex-direction: column;
  }

}